"""

Configuration file for home_monitor
Set your devices/schedules and other parameters here.

"""

from enum import Enum
import datetime
import queue
import subprocess

import pytz

USER_EMAIL = "your-email"

BELL_SOUND = None
BELL_BUTTON_ID = None

INDICATOR_BULB = "Sitt Colour"
TIMEZONE = "Europe/London"
TRAIN_DELAY_INDICATION_SCHEDULE = [("05:30", "07:00")]
FREEZER_SENSOR_OFFLINE_SCHEDULE = [("08:00", "22:00")]
SECURITY_ALARM_ON_SCHEDULE = [("23:00", "05:00")]

FREEZER_TEMP_THOLD = -10  # Freezer temperature alert threshold
SENSOR_OFFLINE_TIME = 60 * 60  # Time in seconds before we declare offline

LOGFILE = "/tmp/home_monitor.log"

LED_PORT = "/dev/ttyS0"
LED_BAUD = 115200
GPIO_CHANNEL = 4

# Zigbee dongles need to be named properly so we don't confuse the two.
# The names (USB0, USB1) get assigned randomly at boot so we need to use
# the /dev/serial/by-id/ path to correctly identify the dongles.

ZB_BAUD = 115200

# Zigbee Dongle for Button Network
HOME_ZB_PORT = "/dev/serial/by-id/your-button-network-dongle-id"

# Zigbee Dongle for Hive Network
HIVE_ZB_PORT = "/dev/serial/by-id/your-hive-network-dongle-id"
HIVE_EUI = "eui-of-your-hive-dongle"


# Devices on the home network (alternative network to Hive)
HOME_ZB_DEVICES = [
    {
        "eui": "00124B00160561DE",
        "ep_id": "01",
        "name": "Garage RHS",
        "type": "WindowDoorSensor",
        "alarm": True,
        "freezer": False
    },
    {
        "eui": "00124B001605777F",
        "ep_id": "01",
        "name": "Garage LHS",
        "type": "WindowDoorSensor",
        "alarm": True,
        "freezer": False
    },
    {
        "eui": "00124B000DEF311B",
        "ep_id": "01",
        "name": "Freezer Sensor",
        "type": "WindowDoorSensor",
        "alarm": False,
        "freezer": True
    },
    {
        "eui": "00158D0001CB141A",
        "ep_id": "01",
        "name": "Button",
        "type": "Button"
    },
    {
        "eui": "CCCCCCFFFEB99522",
        "ep_id": "01",
        "name": "Siren",
        "type": "Siren"
    },
]

# Devices on the Hive network

# This is the group we turn on/off with the button press
HIVE_SITT_GROUP = ["Sitt Front", "Sitt Rear", "Sitt Colour"]

# Sitt Colour is the indicator bulb for the train delay or freezer alerts
HIVE_DEVS = [
    {"eui": "00158D00012E2189", "ep": "01", "name": "Sitt Colour"},
    {"eui": "00158D00012E2CF1", "ep": "01", "name": "Sitt Front"},
    {"eui": "001E5E09021AEBD6", "ep": "09", "name": "Sitt Rear"},
    {"eui": "001E5E09020F2F53", "ep": "09", "name": "Stair Plug"},
    {"eui": "001E5E0902171636", "ep": "09", "name": "Bed LEDs"},
    {"eui": "001E5E09020DA01E", "ep": "09", "name": "Garage Plug"},
    {"eui": "00124B000DEF311B", "ep": "06", "name": "Temperature Sensor"},
]


class FreezerEvents(Enum):
    """ Freezer alarm system events """
    FREEZER_ALARM_TEMP_NORMAL = "freezer_alarm_temp_normal"
    FREEZER_ALARM_TEMP_HIGH = "freezer_alarm_temp_high"
    FREEZER_ALARM_DISABLED = "freezer_alarm_disabled"
    FREEZER_ALARM_SENSOR_OFFLINE_DAY = "freezer_alarm_sensor_offline_day"
    FREEZER_ALARM_SENSOR_OFFLINE_NIGHT = "freezer_alarm_sensor_offline_night"


class SecurityEvents(Enum):
    """ Security system events """
    ALARM_SENSOR_OPEN = "alarm_sensor_open"
    ALARM_SENSOR_CLOSED = "alarm_sensor_closed"
    ALARM_SENSOR_OFFLINE = "alarm_sensor_offline"
    ALARM_ARMED = "alarm_armed"
    ALARM_DISARMED = "alarm_disarmed"
    ALARM_TRIGGERED = "alarm_triggered"
    ALARM_DEACTIVATED = "alarm_deactivated"
    ALARM_ACTIVATED = "alarm_activated"


class DeviceEvents(Enum):
    """ Device system events """
    DEVICE_OFFLINE = "device_offline"
    DEVICE_ONLINE = "device_online"
    DEVICE_TEMP_HIGH = "device_temp_high"
    DEVICE_TEMP_NORMAL = "device_temp_normal"


class ButtonEvents(Enum):
    """ Button press system events """
    BTN_SHORT_PRESS = "btn_short_press"
    BTN_DOUBLE_PRESS = "btn_double_press"
    BTN_LONG_PRESS = "btn_long_press"


class TrainEvents(Enum):
    """ Train delay system events """
    DELAYS = "delays"
    NO_DELAYS = "no_delays"


class GPIOEvents(Enum):
    """ GPIO system events """
    BUTTON_PRESSED = "button_pressed"
    BUTTON_RELEASED = "button_released"


class SystemEvents:
    """ System Events that require an action """
    FREEZER = FreezerEvents
    SECURITY = SecurityEvents
    DEVICE = DeviceEvents
    BUTTON = ButtonEvents
    TRAIN = TrainEvents
    GPIO = GPIOEvents


class SystemEventQueue:
    """ Class which handles the system event queue and esures correct format of items """

    def __init__(self):
        self.queue = queue.Queue()

    def put(self, event, name):
        """ Put an event onto the queue """
        self.queue.put({"event": event, "name": name})

    def get(self):
        """ Get an event from the queue """
        return self.queue.get()

    def empty(self):
        """ Check if the queue is empty """
        return self.queue.empty()


def get_hive_dev(dev_name):
    """Get device by names
    """
    # search a list of dicts to find the device with matching name
    dev = next((d for d in HIVE_DEVS if d["name"] == dev_name), None)
    return dev


def tz_aware(dt):
    """Check if datetime is tz_aware"""
    return dt.tzinfo is not None and dt.tzinfo.utcoffset(dt) is not None


def is_dst(dt):
    """Check if DST is set for given datetime"""
    return dt.tzinfo._dst.seconds != 0  # pylint: disable=protected-access


def local_time(dt=None, timezone=TIMEZONE):
    """Take a given datetime and convert to local time in wanted timezone

    If given DT is naive then assume it is UTC.
    Make it TZ aware and then convert it to time in the wanted zone.
    """
    if dt is None:
        dt = datetime.datetime.utcnow()

    # If dt is naive then make it tz aware (we assume UTC to begin with)
    if not tz_aware(dt):
        dt = pytz.timezone("UTC").localize(dt)

    # Shift to wanted timezone
    dt = dt.astimezone(pytz.timezone(timezone))
    return dt


def schedule_check(schedule, check_time=None):
    """Check time is between begin and end

    If check_time is not given then use current UTC time
    Returns true if current time is between one of the schedule slots i.e.
    True if slotstart <= current_time <= slot_end
    We also handle the case where a slot straddles midnight.
    """
    in_sched = False

    # If check time is not given, default to current London time.
    check_time = check_time or local_time()
    check_time = check_time.time()

    for time_slot in schedule:
        begin_time = datetime.time(
            int(time_slot[0].split(":")[0]), int(time_slot[0].split(":")[1])
        )

        end_time = datetime.time(
            int(time_slot[1].split(":")[0]), int(time_slot[1].split(":")[1])
        )

        if begin_time < end_time:
            if begin_time <= check_time <= end_time:
                in_sched = True

        else:
            # Else checktime is crossing midnight
            if check_time >= begin_time or check_time <= end_time:
                in_sched = True

    # print(schedule, check_time, in_sched)
    return in_sched


def send_email(subject, body, to_addr=USER_EMAIL):
    """Send an email using the system mail command"""
    cmd = ["/usr/bin/mail", "-s", subject, to_addr]
    with subprocess.Popen(cmd, stdin=subprocess.PIPE) as p:
        p.communicate(input=body.encode())
    return p.returncode


def tests():
    """Run a few tests"""

    lond = "Europe/London"
    rome = "Europe/Rome"

    # System time is UTC so we convert our UCT times to local
    # before comparing to the local schedule.
    test_list = [
        # Before DST
        {"dt": (2021, 1, 1, 5, 59), "tz": lond, "result": False},
        {"dt": (2021, 1, 1, 6, 0), "tz": lond, "result": True},
        {"dt": (2021, 1, 1, 8, 0), "tz": lond, "result": True},
        {"dt": (2021, 1, 1, 8, 1), "tz": lond, "result": False},
        # During DST
        {"dt": (2021, 6, 1, 4, 59), "tz": lond, "result": False},
        {"dt": (2021, 6, 1, 5, 0), "tz": lond, "result": True},
        {"dt": (2021, 6, 1, 7, 0), "tz": lond, "result": True},
        {"dt": (2021, 6, 1, 7, 1), "tz": lond, "result": False},
        # Rome before DST
        {"dt": (2021, 1, 1, 4, 59), "tz": rome, "result": False},
        {"dt": (2021, 1, 1, 5, 0), "tz": rome, "result": True},
        {"dt": (2021, 1, 1, 7, 0), "tz": rome, "result": True},
        {"dt": (2021, 1, 1, 7, 1), "tz": rome, "result": False},
        # Rome during DST
        {"dt": (2021, 6, 1, 3, 59), "tz": rome, "result": False},
        {"dt": (2021, 6, 1, 4, 0), "tz": rome, "result": True},
        {"dt": (2021, 6, 1, 6, 0), "tz": rome, "result": True},
        {"dt": (2021, 6, 1, 7, 1), "tz": rome, "result": False},
    ]

    sched = TRAIN_DELAY_INDICATION_SCHEDULE
    for test in test_list:
        dt = datetime.datetime(*test["dt"])
        dt = local_time(dt, timezone=test["tz"])
        assert schedule_check(sched, dt) == test["result"]

    print(local_time())
    schedule_check(sched)

    sched = SECURITY_ALARM_ON_SCHEDULE
    test_list = [
        {"dt": (2022, 1, 1, 5, 59), "tz": lond, "result": True},
        {"dt": (2022, 1, 1, 6, 1), "tz": lond, "result": False},
        {"dt": (2022, 1, 1, 21, 59), "tz": lond, "result": False},
        {"dt": (2022, 1, 1, 22, 1), "tz": lond, "result": True},
    ]
    for test in test_list:
        dt = datetime.datetime(*test["dt"])
        dt = local_time(dt, timezone=test["tz"])
        assert schedule_check(sched, dt) == test["result"]

    print("All done.  All tests passed")


if __name__ == "__main__":
    tests()
