[Unit]
Description=Train-d-cator home_monitor service
StartLimitIntervalSec=0
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=10s
EnvironmentFile=/etc/environment
ExecStart=/home/pi/.pyenv/shims/python3 /home/pi/repositories/homeMonitor/home_monitor/home_monitor.py -f win -t wat -zba

[Install]
WantedBy=multi-user.target
